body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u133358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u133358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u133358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133359 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u133359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u133359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133360_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u133360 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:94px;
  width:1521px;
  height:2px;
  display:flex;
}
#u133360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u133361 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:39px;
  width:195px;
  height:57px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u133361 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133362_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133362_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133362 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:112px;
  width:119px;
  height:30px;
  display:flex;
}
#u133362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133362_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133362.disabled {
}
#u133363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133363_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133363 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:112px;
  width:112px;
  height:30px;
  display:flex;
}
#u133363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133363_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133363.disabled {
}
#u133364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133364_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133364 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:112px;
  width:131px;
  height:30px;
  display:flex;
}
#u133364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133364_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133364.disabled {
}
#u133365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133365 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:54px;
  width:62px;
  height:30px;
  display:flex;
}
#u133365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133366 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:163px;
  width:1500px;
  height:87px;
}
#u133367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u133367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  display:flex;
}
#u133367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u133368 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:141px;
  height:30px;
  display:flex;
}
#u133368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u133369 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:0px;
  width:136px;
  height:30px;
  display:flex;
}
#u133369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u133370 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:135px;
  height:30px;
  display:flex;
}
#u133370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u133371 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:0px;
  width:136px;
  height:30px;
  display:flex;
}
#u133371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u133372 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:0px;
  width:134px;
  height:30px;
  display:flex;
}
#u133372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u133373 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u133373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u133374 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:0px;
  width:97px;
  height:30px;
  display:flex;
}
#u133374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u133375 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:0px;
  width:83px;
  height:30px;
  display:flex;
}
#u133375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u133376 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:0px;
  width:91px;
  height:30px;
  display:flex;
}
#u133376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u133377 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:0px;
  width:103px;
  height:30px;
  display:flex;
}
#u133377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u133378 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:0px;
  width:168px;
  height:30px;
  display:flex;
}
#u133378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
}
#u133379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:163px;
  height:27px;
  display:flex;
}
#u133379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
}
#u133380 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:30px;
  width:141px;
  height:27px;
  display:flex;
}
#u133380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:27px;
}
#u133381 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:30px;
  width:136px;
  height:27px;
  display:flex;
}
#u133381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:27px;
}
#u133382 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:30px;
  width:135px;
  height:27px;
  display:flex;
}
#u133382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:27px;
}
#u133383 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:30px;
  width:136px;
  height:27px;
  display:flex;
}
#u133383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:27px;
}
#u133384 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:30px;
  width:134px;
  height:27px;
  display:flex;
}
#u133384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
}
#u133385 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:30px;
  width:113px;
  height:27px;
  display:flex;
}
#u133385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
}
#u133386 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:30px;
  width:97px;
  height:27px;
  display:flex;
  color:#0000FF;
}
#u133386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:27px;
}
#u133387 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:30px;
  width:83px;
  height:27px;
  display:flex;
  color:#0000FF;
}
#u133387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
}
#u133388 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:30px;
  width:91px;
  height:27px;
  display:flex;
  color:#0000FF;
}
#u133388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:27px;
}
#u133389 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:30px;
  width:103px;
  height:27px;
  display:flex;
  color:#0000FF;
}
#u133389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:27px;
}
#u133390 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:30px;
  width:168px;
  height:27px;
  display:flex;
  color:#0033FF;
}
#u133390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u133391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:163px;
  height:30px;
  display:flex;
}
#u133391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u133392 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:57px;
  width:141px;
  height:30px;
  display:flex;
}
#u133392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u133393 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:57px;
  width:136px;
  height:30px;
  display:flex;
}
#u133393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u133394 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:57px;
  width:135px;
  height:30px;
  display:flex;
}
#u133394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u133395 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:57px;
  width:136px;
  height:30px;
  display:flex;
}
#u133395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u133396 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:57px;
  width:134px;
  height:30px;
  display:flex;
}
#u133396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u133397 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:57px;
  width:113px;
  height:30px;
  display:flex;
}
#u133397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u133398 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:57px;
  width:97px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u133398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u133399 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:57px;
  width:83px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u133399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u133400 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:57px;
  width:91px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u133400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u133401 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:57px;
  width:103px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u133401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u133402 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:57px;
  width:168px;
  height:30px;
  display:flex;
}
#u133402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133403_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1502px;
  height:5px;
}
#u133403 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:163px;
  width:1499px;
  height:2px;
  display:flex;
}
#u133403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u133404 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:199px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u133404 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133404_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u133405 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:199px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u133405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133406 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:54px;
  width:58px;
  height:30px;
  display:flex;
}
#u133406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133407_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133407_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133407 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:112px;
  width:122px;
  height:30px;
  display:flex;
}
#u133407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133407_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133407.disabled {
}
#u133408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133408 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:54px;
  width:137px;
  height:30px;
  display:flex;
}
#u133408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133409 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:54px;
  width:62px;
  height:30px;
  display:flex;
}
#u133409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u133410 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:232px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u133410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133410_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u133411 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:232px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u133411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133412 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:112px;
  width:62px;
  height:30px;
  display:flex;
}
#u133412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133413_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133413_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133413 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:112px;
  width:131px;
  height:30px;
  display:flex;
}
#u133413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133413_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133413.disabled {
}
#u133414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133414_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133414 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:112px;
  width:131px;
  height:30px;
  display:flex;
}
#u133414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133414_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133414.disabled {
}
#u133415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u133415 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:199px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u133415 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133416_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133416_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133416 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:112px;
  width:119px;
  height:30px;
  display:flex;
}
#u133416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133416_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133416.disabled {
}
#u133417_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133417_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133417 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:112px;
  width:101px;
  height:30px;
  display:flex;
}
#u133417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133417_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133417.disabled {
}
#u133418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133418_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u133418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133418 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:112px;
  width:101px;
  height:30px;
  display:flex;
}
#u133418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133418_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133418.disabled {
}
#u133419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u133419 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:112px;
  width:25px;
  height:30px;
  display:flex;
  text-align:center;
}
#u133419 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133421 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:221px;
  width:361px;
  height:218px;
  display:flex;
}
#u133421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u133422 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:285px;
  width:17px;
  height:17px;
  display:flex;
}
#u133422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:2px;
}
#u133423 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:390px;
  width:166px;
  height:1px;
  display:flex;
}
#u133423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:32px;
}
#u133424 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:398px;
  width:1px;
  height:31px;
  display:flex;
}
#u133424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:2px;
}
#u133425 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:390px;
  width:163px;
  height:1px;
  display:flex;
}
#u133425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133426 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:410px;
  width:28px;
  height:16px;
  display:flex;
}
#u133426 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133426_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133427 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:406px;
  width:28px;
  height:16px;
  display:flex;
}
#u133427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u133428 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:286px;
  width:322px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u133428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133428_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u133429 {
  border-width:0px;
  position:absolute;
  left:1511px;
  top:232px;
  width:28px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u133429 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133429_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
