body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1551px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1512px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:25px;
  width:1512px;
  height:40px;
  display:flex;
}
#u8782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u8782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:37px;
  width:140px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8784 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:38px;
  width:15px;
  height:15px;
  display:flex;
}
#u8784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8785 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:93px;
  width:98px;
  height:16px;
  display:flex;
}
#u8785 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8785_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8786 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:93px;
  width:112px;
  height:16px;
  display:flex;
}
#u8786 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8786_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u8787 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:137px;
  width:1344px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u8787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8788 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:702px;
  width:140px;
  height:40px;
  display:flex;
}
#u8788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8789 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:206px;
  width:266px;
  height:16px;
  display:flex;
}
#u8789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8790 label {
  left:0px;
  width:100%;
}
#u8790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8790 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:275px;
  width:100px;
  height:15px;
  display:flex;
  color:#A1A1A1;
}
#u8790 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8790_img.selected {
}
#u8790.selected {
}
#u8790_img.disabled {
}
#u8790.disabled {
}
#u8790_img.selectedDisabled {
}
#u8790.selectedDisabled {
}
#u8790_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8790_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8791 label {
  left:0px;
  width:100%;
}
#u8791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8791 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:337px;
  width:185px;
  height:15px;
  display:flex;
}
#u8791 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8791_img.selected {
}
#u8791.selected {
}
#u8791_img.disabled {
}
#u8791.disabled {
}
#u8791_img.selectedDisabled {
}
#u8791.selectedDisabled {
}
#u8791_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:169px;
  word-wrap:break-word;
  text-transform:none;
}
#u8791_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8792 label {
  left:0px;
  width:100%;
}
#u8792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8792 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:374px;
  width:151px;
  height:15px;
  display:flex;
}
#u8792 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8792_img.selected {
}
#u8792.selected {
}
#u8792_img.disabled {
}
#u8792.disabled {
}
#u8792_img.selectedDisabled {
}
#u8792.selectedDisabled {
}
#u8792_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:135px;
  word-wrap:break-word;
  text-transform:none;
}
#u8792_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8793 label {
  left:0px;
  width:100%;
}
#u8793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8793 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:305px;
  width:185px;
  height:15px;
  display:flex;
}
#u8793 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8793_img.selected {
}
#u8793.selected {
}
#u8793_img.disabled {
}
#u8793.disabled {
}
#u8793_img.selectedDisabled {
}
#u8793.selectedDisabled {
}
#u8793_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:169px;
  word-wrap:break-word;
  text-transform:none;
}
#u8793_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u8794 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:337px;
  width:232px;
  height:16px;
  display:flex;
  color:#0066CC;
}
#u8794 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8795 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:247px;
  width:56px;
  height:16px;
  display:flex;
}
#u8795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
