body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u58752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58753 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:52px;
  width:938px;
  height:488px;
  display:flex;
}
#u58753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u58754 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:53px;
  width:936px;
  height:36px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u58754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u58755 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:153px;
  width:56px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u58755 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u58755_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u58756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:2px;
}
#u58756 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:179px;
  width:814px;
  height:1px;
  display:flex;
}
#u58756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58757 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:210px;
  width:70px;
  height:16px;
  display:flex;
}
#u58757 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u58757_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u58758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u58758_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u58758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58758 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:206px;
  width:663px;
  height:25px;
  display:flex;
}
#u58758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58758_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58758.disabled {
}
#u58759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u58759 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:113px;
  width:350px;
  height:16px;
  display:flex;
  color:#FF0000;
}
#u58759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u58759_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u58760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u58760 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:241px;
  width:543px;
  height:16px;
  display:flex;
  color:#6B6B6B;
}
#u58760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u58760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u58761 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:289px;
  width:44px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u58761 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u58761_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u58762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:2px;
}
#u58762 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:315px;
  width:814px;
  height:1px;
  display:flex;
}
#u58762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u58763 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:344px;
  width:153px;
  height:40px;
  display:flex;
  color:#999999;
}
#u58763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58763_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u58763.mouseOver {
}
#u58763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58764 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:476px;
  width:140px;
  height:40px;
  display:flex;
}
#u58764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58765 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:476px;
  width:140px;
  height:40px;
  display:flex;
}
#u58765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u58766 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:64px;
  width:15px;
  height:15px;
  display:flex;
}
#u58766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58767 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:17px;
  width:0px;
  height:0px;
}
#u58767_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u58767_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:10px;
  height:5px;
}
#u58767_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:18px;
  height:18px;
}
#u58767_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u58769 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:9px;
  width:18px;
  height:18px;
  display:flex;
}
#u58769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u58771 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:10px;
  width:88px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u58771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u58771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u58772 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:10px;
  width:1px;
  height:14px;
  display:flex;
}
#u58772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
