body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1552px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u143190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:884px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u143190 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:30px;
  width:1514px;
  height:884px;
  display:flex;
  color:#0000FF;
}
#u143190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u143192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1512px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143192 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:32px;
  width:1512px;
  height:40px;
  display:flex;
}
#u143192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u143192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u143193 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:44px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u143193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143193_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143194 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:863px;
  width:69px;
  height:30px;
  display:flex;
}
#u143194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u143195 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:135px;
  width:1508px;
  height:1px;
  display:flex;
}
#u143195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u143196 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:103px;
  width:56px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u143196 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143197 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:146px;
  width:48px;
  height:16px;
  display:flex;
}
#u143197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143197_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143198 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:146px;
  width:52px;
  height:15px;
  display:flex;
}
#u143198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u143199 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:382px;
  width:1508px;
  height:1px;
  display:flex;
}
#u143199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u143200 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:354px;
  width:56px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u143200 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143201 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:451px;
  width:76px;
  height:16px;
  display:flex;
}
#u143201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143201_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:170px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u143202_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:170px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u143202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143202 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:479px;
  width:1339px;
  height:170px;
  display:flex;
}
#u143202 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143202_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1339px;
  height:170px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143202.disabled {
}
#u143203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143203 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:179px;
  width:76px;
  height:16px;
  display:flex;
}
#u143203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143203_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u143204 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:179px;
  width:117px;
  height:15px;
  display:flex;
  color:#1E1E1E;
}
#u143204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143205 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:420px;
  width:62px;
  height:16px;
  display:flex;
}
#u143205 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143205_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u143206 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:420px;
  width:32px;
  height:16px;
  display:flex;
  color:#000000;
}
#u143206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143206_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143207 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:393px;
  width:90px;
  height:16px;
  display:flex;
}
#u143207 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143207_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u143208 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:393px;
  width:32px;
  height:16px;
  display:flex;
  color:#000000;
}
#u143208 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143208_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u143209 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:451px;
  width:32px;
  height:16px;
  display:flex;
  color:#000000;
}
#u143209 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143209_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u143210 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:641px;
  width:56px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u143210 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143210_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u143211 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:670px;
  width:1508px;
  height:1px;
  display:flex;
}
#u143211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143212 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:702px;
  width:1029px;
  height:138px;
}
#u143213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u143213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  display:flex;
}
#u143213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u143214 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:171px;
  height:30px;
  display:flex;
}
#u143214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u143215 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:0px;
  width:171px;
  height:30px;
  display:flex;
}
#u143215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:30px;
}
#u143216 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:0px;
  width:516px;
  height:30px;
  display:flex;
}
#u143216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u143217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:171px;
  height:36px;
  display:flex;
  color:#000000;
}
#u143217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u143218 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:30px;
  width:171px;
  height:36px;
  display:flex;
}
#u143218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u143219 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:30px;
  width:171px;
  height:36px;
  display:flex;
}
#u143219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:36px;
}
#u143220 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:30px;
  width:516px;
  height:36px;
  display:flex;
}
#u143220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u143221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:171px;
  height:36px;
  display:flex;
  color:#000000;
}
#u143221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u143222 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:66px;
  width:171px;
  height:36px;
  display:flex;
}
#u143222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u143223 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:66px;
  width:171px;
  height:36px;
  display:flex;
}
#u143223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:36px;
}
#u143224 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:66px;
  width:516px;
  height:36px;
  display:flex;
}
#u143224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u143225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:171px;
  height:36px;
  display:flex;
  color:#000000;
}
#u143225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u143226 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:102px;
  width:171px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u143226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u143227 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:102px;
  width:171px;
  height:36px;
  display:flex;
}
#u143227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:36px;
}
#u143228 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:102px;
  width:516px;
  height:36px;
  display:flex;
  color:#000000;
}
#u143228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143229 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:493px;
  width:1288px;
  height:148px;
}
#u143230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
}
#u143230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  display:flex;
}
#u143230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u143231 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:123px;
  height:20px;
  display:flex;
}
#u143231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u143232 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:125px;
  height:20px;
  display:flex;
}
#u143232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u143233 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:0px;
  width:132px;
  height:20px;
  display:flex;
}
#u143233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u143234 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:0px;
  width:201px;
  height:20px;
  display:flex;
}
#u143234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u143235 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:0px;
  width:143px;
  height:20px;
  display:flex;
}
#u143235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u143236 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:0px;
  width:146px;
  height:20px;
  display:flex;
}
#u143236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u143237 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:0px;
  width:143px;
  height:20px;
  display:flex;
}
#u143237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u143238 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:0px;
  width:142px;
  height:20px;
  display:flex;
}
#u143238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u143239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:133px;
  height:36px;
  display:flex;
  color:#1E1E1E;
}
#u143239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u143240 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:20px;
  width:123px;
  height:36px;
  display:flex;
}
#u143240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u143241 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:20px;
  width:125px;
  height:36px;
  display:flex;
}
#u143241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u143242 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:20px;
  width:132px;
  height:36px;
  display:flex;
}
#u143242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u143243 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:20px;
  width:201px;
  height:36px;
  display:flex;
}
#u143243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u143244 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:20px;
  width:143px;
  height:36px;
  display:flex;
}
#u143244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u143245 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:20px;
  width:146px;
  height:36px;
  display:flex;
}
#u143245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u143246 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:20px;
  width:143px;
  height:36px;
  display:flex;
}
#u143246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u143247 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:20px;
  width:142px;
  height:36px;
  display:flex;
}
#u143247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u143248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:133px;
  height:36px;
  display:flex;
  color:#1E1E1E;
}
#u143248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u143249 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:56px;
  width:123px;
  height:36px;
  display:flex;
}
#u143249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u143250 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:56px;
  width:125px;
  height:36px;
  display:flex;
}
#u143250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u143251 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:56px;
  width:132px;
  height:36px;
  display:flex;
}
#u143251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u143252 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:56px;
  width:201px;
  height:36px;
  display:flex;
}
#u143252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u143253 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:56px;
  width:143px;
  height:36px;
  display:flex;
}
#u143253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u143254 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:56px;
  width:146px;
  height:36px;
  display:flex;
}
#u143254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u143255 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:56px;
  width:143px;
  height:36px;
  display:flex;
}
#u143255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u143256 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:56px;
  width:142px;
  height:36px;
  display:flex;
}
#u143256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u143257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:133px;
  height:36px;
  display:flex;
  color:#1E1E1E;
}
#u143257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u143258 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:92px;
  width:123px;
  height:36px;
  display:flex;
}
#u143258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u143259 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:92px;
  width:125px;
  height:36px;
  display:flex;
}
#u143259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u143260 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:92px;
  width:132px;
  height:36px;
  display:flex;
}
#u143260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u143261 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:92px;
  width:201px;
  height:36px;
  display:flex;
}
#u143261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u143262 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:92px;
  width:143px;
  height:36px;
  display:flex;
}
#u143262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u143263 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:92px;
  width:146px;
  height:36px;
  display:flex;
}
#u143263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u143264 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:92px;
  width:143px;
  height:36px;
  display:flex;
}
#u143264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u143265 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:92px;
  width:142px;
  height:36px;
  display:flex;
}
#u143265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
}
#u143266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:133px;
  height:20px;
  display:flex;
}
#u143266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u143267 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:128px;
  width:123px;
  height:20px;
  display:flex;
}
#u143267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u143268 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:128px;
  width:125px;
  height:20px;
  display:flex;
}
#u143268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u143269 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:128px;
  width:132px;
  height:20px;
  display:flex;
}
#u143269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u143270 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:128px;
  width:201px;
  height:20px;
  display:flex;
}
#u143270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u143271 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:128px;
  width:143px;
  height:20px;
  display:flex;
}
#u143271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u143272 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:128px;
  width:146px;
  height:20px;
  display:flex;
}
#u143272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:20px;
}
#u143273 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:128px;
  width:143px;
  height:20px;
  display:flex;
}
#u143273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
}
#u143274 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:128px;
  width:142px;
  height:20px;
  display:flex;
}
#u143274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143275 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:146px;
  width:76px;
  height:16px;
  display:flex;
}
#u143275 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143275_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143276 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:147px;
  width:15px;
  height:15px;
  display:flex;
}
#u143276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143277 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:294px;
  width:76px;
  height:16px;
  display:flex;
}
#u143277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143277_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143278 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:267px;
  width:76px;
  height:16px;
  display:flex;
}
#u143278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143278_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u143279 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:217px;
  width:56px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#003399;
  text-align:center;
}
#u143279 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143279_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1509px;
  height:2px;
}
#u143280 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:246px;
  width:1508px;
  height:1px;
  display:flex;
}
#u143280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u143281 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:294px;
  width:76px;
  height:16px;
  display:flex;
  color:#1E1E1E;
}
#u143281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u143282 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:267px;
  width:133px;
  height:16px;
  display:flex;
  color:#1E1E1E;
}
#u143282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143282_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u143283 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:293px;
  width:148px;
  height:15px;
  display:flex;
  color:#000000;
}
#u143283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143283_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u143284 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:295px;
  width:148px;
  height:15px;
  display:flex;
  color:#000000;
}
#u143284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143284_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
