body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u12875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u12875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12876 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u12876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u12876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12877 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:72px;
  width:112px;
  height:16px;
  display:flex;
}
#u12877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12877_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12878_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12878 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:69px;
  width:663px;
  height:22px;
  display:flex;
}
#u12878 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12878_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12878.disabled {
}
.u12878_input_option {
}
#u12879 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:140px;
  width:1192px;
  height:240px;
}
#u12880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u12880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12881 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u12881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12882 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u12882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12883 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u12883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
}
#u12884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12885 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
}
#u12885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12886 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
}
#u12886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12887 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u12887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
}
#u12888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12889 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
}
#u12889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12890 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
}
#u12890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12891 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u12891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
}
#u12892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12893 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
}
#u12893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12894 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
}
#u12894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12895 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u12895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
}
#u12896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12897 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
}
#u12897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12898 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
}
#u12898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12899 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u12899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u12900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12901 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u12901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12902 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u12902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12903 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u12903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u12904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12905 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u12905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12906 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u12906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12907 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u12907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
}
#u12908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12909 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
}
#u12909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12910 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
}
#u12910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12911 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u12911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12912_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1493px;
  height:5px;
}
#u12912 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:114px;
  width:1490px;
  height:2px;
  display:flex;
}
#u12912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12913 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:178px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12913 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12913_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12914 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:178px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12915 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:205px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12915 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12915_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12916 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:205px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12916_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12917 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:238px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12918 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:238px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12919 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:272px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12920 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:272px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12921 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:299px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12922 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:299px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12923 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:326px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12924 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:326px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12924 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12924_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12925 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:358px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u12925 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12926 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:358px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u12926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
