body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u12681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u12681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12682 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u12682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u12682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12683 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:72px;
  width:112px;
  height:16px;
  display:flex;
}
#u12683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12684_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12684 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:69px;
  width:663px;
  height:22px;
  display:flex;
}
#u12684 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12684_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12684.disabled {
}
.u12684_input_option {
}
#u12685 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:140px;
  width:1192px;
  height:240px;
}
#u12686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u12686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12687 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u12687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12688 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u12688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12689 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u12689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
}
#u12690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12691 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
}
#u12691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12692 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
}
#u12692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12693 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u12693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
}
#u12694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12695 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
}
#u12695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12696 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
}
#u12696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12697 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u12697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
}
#u12698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12699 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
}
#u12699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12700 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
}
#u12700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12701 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u12701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
}
#u12702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12703 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
}
#u12703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12704 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
}
#u12704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12705 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u12705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u12706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12707 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u12707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12708 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u12708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12709 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u12709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u12710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12711 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u12711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12712 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u12712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12713 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u12713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
}
#u12714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12715 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
}
#u12715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12716 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
}
#u12716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u12717 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u12717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12718_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1493px;
  height:5px;
}
#u12718 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:114px;
  width:1490px;
  height:2px;
  display:flex;
}
#u12718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12719 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:178px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12719 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12719_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12720 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:178px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12720 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12720_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12721 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:205px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12721 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12721_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12722 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:205px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12722 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12722_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12723 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:238px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12723 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12723_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12724 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:238px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12724_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12725 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:272px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12725_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12726 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:272px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12726_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12727 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:299px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12727_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12728 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:299px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12729 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:326px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12729_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12730 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:326px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u12730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12730_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12731 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:358px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u12731 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12731_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12732 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:358px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u12732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12732_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
