body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u27327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u27327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u27327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27328 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u27328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u27328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27329_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1524px;
  height:5px;
}
#u27329 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:94px;
  width:1521px;
  height:2px;
  display:flex;
}
#u27329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u27330 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:39px;
  width:181px;
  height:57px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u27330 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27331 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:161px;
  width:1519px;
  height:174px;
}
#u27332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u27332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  display:flex;
}
#u27332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:30px;
}
#u27333 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:455px;
  height:30px;
  display:flex;
}
#u27333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u27334 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:0px;
  width:190px;
  height:30px;
  display:flex;
}
#u27334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u27335 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:0px;
  width:164px;
  height:30px;
  display:flex;
}
#u27335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u27336 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:0px;
  width:182px;
  height:30px;
  display:flex;
}
#u27336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u27337 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:0px;
  width:164px;
  height:30px;
  display:flex;
}
#u27337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u27338 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:0px;
  width:164px;
  height:30px;
  display:flex;
}
#u27338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u27339 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:0px;
  width:162px;
  height:30px;
  display:flex;
}
#u27339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u27340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:38px;
  height:36px;
  display:flex;
}
#u27340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:36px;
}
#u27341 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:30px;
  width:455px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u27341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u27342 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:30px;
  width:190px;
  height:36px;
  display:flex;
  text-align:left;
}
#u27342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27343 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:30px;
  width:164px;
  height:36px;
  display:flex;
}
#u27343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u27344 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:30px;
  width:182px;
  height:36px;
  display:flex;
}
#u27344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27345 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:30px;
  width:164px;
  height:36px;
  display:flex;
}
#u27345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27346 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:30px;
  width:164px;
  height:36px;
  display:flex;
}
#u27346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u27347 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:30px;
  width:162px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u27347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u27348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:38px;
  height:36px;
  display:flex;
}
#u27348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:36px;
}
#u27349 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:66px;
  width:455px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u27349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u27350 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:66px;
  width:190px;
  height:36px;
  display:flex;
  color:#1E1E1E;
  text-align:left;
}
#u27350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27351 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:66px;
  width:164px;
  height:36px;
  display:flex;
}
#u27351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u27352 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:66px;
  width:182px;
  height:36px;
  display:flex;
}
#u27352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27353 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:66px;
  width:164px;
  height:36px;
  display:flex;
}
#u27353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27354 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:66px;
  width:164px;
  height:36px;
  display:flex;
}
#u27354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u27355 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:66px;
  width:162px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u27355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u27356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:38px;
  height:36px;
  display:flex;
}
#u27356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:36px;
}
#u27357 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:102px;
  width:455px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u27357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u27358 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:102px;
  width:190px;
  height:36px;
  display:flex;
  color:#1E1E1E;
  text-align:left;
}
#u27358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27359 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:102px;
  width:164px;
  height:36px;
  display:flex;
}
#u27359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u27360 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:102px;
  width:182px;
  height:36px;
  display:flex;
}
#u27360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27361 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:102px;
  width:164px;
  height:36px;
  display:flex;
}
#u27361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27362 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:102px;
  width:164px;
  height:36px;
  display:flex;
}
#u27362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u27363 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:102px;
  width:162px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u27363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u27364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:38px;
  height:36px;
  display:flex;
}
#u27364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:36px;
}
#u27365 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:138px;
  width:455px;
  height:36px;
  display:flex;
  color:#0066CC;
  text-align:left;
}
#u27365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u27366 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:138px;
  width:190px;
  height:36px;
  display:flex;
  color:#1E1E1E;
  text-align:left;
}
#u27366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27367 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:138px;
  width:164px;
  height:36px;
  display:flex;
}
#u27367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u27368 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:138px;
  width:182px;
  height:36px;
  display:flex;
}
#u27368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27369 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:138px;
  width:164px;
  height:36px;
  display:flex;
}
#u27369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u27370 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:138px;
  width:164px;
  height:36px;
  display:flex;
}
#u27370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u27371 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:138px;
  width:162px;
  height:36px;
  display:flex;
  color:#0066CC;
}
#u27371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27372 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:51px;
  width:61px;
  height:33px;
  display:flex;
}
#u27372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27373 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:51px;
  width:61px;
  height:33px;
  display:flex;
}
#u27373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27374 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:114px;
  width:75px;
  height:30px;
  display:flex;
}
#u27374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u27374_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27374.selected {
}
#u27374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27375 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:114px;
  width:75px;
  height:30px;
  display:flex;
}
#u27375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u27375_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27375.selected {
}
#u27375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27376 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:114px;
  width:75px;
  height:30px;
  display:flex;
}
#u27376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u27376_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27376.selected {
}
#u27376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u27377 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:201px;
  width:28px;
  height:16px;
  display:flex;
  color:#0066CC;
}
#u27377 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27377_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u27378 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:201px;
  width:28px;
  height:16px;
  display:flex;
  color:#0066CC;
}
#u27378 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27378_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u27379_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u27379_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u27379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27379 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:114px;
  width:162px;
  height:30px;
  display:flex;
}
#u27379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27379_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27379.disabled {
}
#u27380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27380 {
  border-width:0px;
  position:absolute;
  left:1477px;
  top:114px;
  width:80px;
  height:30px;
  display:flex;
}
#u27380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.23921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u27382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u27382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27385 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:157px;
  width:476px;
  height:267px;
  display:flex;
}
#u27385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u27386 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:282px;
  width:347px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u27386 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27387 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:202px;
  width:50px;
  height:50px;
  display:flex;
}
#u27387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
