body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1836px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u95456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95456 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:40px;
  width:1779px;
  height:808px;
  display:flex;
}
#u95456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u95456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:23px;
}
#u95459 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:60px;
  width:496px;
  height:23px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u95459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0033CC;
}
#u95460 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:64px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#0033CC;
}
#u95460 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95460_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u95461 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:64px;
  width:15px;
  height:15px;
  display:flex;
}
#u95461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u95462 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:61px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u95462 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95462_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1703px;
  height:116px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95463 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:141px;
  width:1703px;
  height:116px;
  display:flex;
}
#u95463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95464 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:101px;
  width:69px;
  height:30px;
  display:flex;
}
#u95464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u95465 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:156px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u95465 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95465_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1483px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95466 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:183px;
  width:1483px;
  height:30px;
  display:flex;
}
#u95466 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1703px;
  height:116px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95467 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:279px;
  width:1703px;
  height:116px;
  display:flex;
}
#u95467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u95468 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:294px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u95468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95468_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1454px;
  height:55px;
}
#u95469 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:321px;
  width:1454px;
  height:55px;
  display:flex;
}
#u95469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1483px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u95470 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:294px;
  width:1483px;
  height:15px;
  display:flex;
  color:#0000FF;
}
#u95470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1703px;
  height:116px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95471 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:417px;
  width:1703px;
  height:116px;
  display:flex;
}
#u95471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u95472 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:432px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u95472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95472_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1483px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95473 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:468px;
  width:1483px;
  height:30px;
  display:flex;
}
#u95473 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1483px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u95474 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:157px;
  width:1483px;
  height:15px;
  display:flex;
  color:#0000FF;
}
#u95474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1483px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u95475 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:432px;
  width:1483px;
  height:15px;
  display:flex;
  color:#0000FF;
}
#u95475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1703px;
  height:116px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95476 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:559px;
  width:1703px;
  height:116px;
  display:flex;
}
#u95476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u95477 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:574px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u95477 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95477_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1483px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95478 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:610px;
  width:1483px;
  height:30px;
  display:flex;
}
#u95478 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1483px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u95479 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:574px;
  width:1483px;
  height:15px;
  display:flex;
  color:#0000FF;
}
#u95479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95480 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:482px;
  width:70px;
  height:30px;
  display:flex;
}
#u95480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95481 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:482px;
  width:70px;
  height:30px;
  display:flex;
}
#u95481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
