body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u22951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u22951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22952 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u22952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u22952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22953 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:87px;
  width:1472px;
  height:282px;
}
#u22954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u22954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
  display:flex;
}
#u22954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:30px;
}
#u22955 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:0px;
  width:395px;
  height:30px;
  display:flex;
}
#u22955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
}
#u22956 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:0px;
  width:254px;
  height:30px;
  display:flex;
}
#u22956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u22957 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:0px;
  width:132px;
  height:30px;
  display:flex;
}
#u22957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u22958 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:132px;
  height:30px;
  display:flex;
}
#u22958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u22959 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:0px;
  width:132px;
  height:30px;
  display:flex;
}
#u22959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u22960 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:0px;
  width:132px;
  height:30px;
  display:flex;
}
#u22960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
}
#u22961 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:0px;
  width:256px;
  height:30px;
  display:flex;
}
#u22961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u22962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:39px;
  height:36px;
  display:flex;
}
#u22962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u22963 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:30px;
  width:395px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u22963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u22964 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:30px;
  width:254px;
  height:36px;
  display:flex;
}
#u22964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22965 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:30px;
  width:132px;
  height:36px;
  display:flex;
  text-decoration:underline ;
}
#u22965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22966 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:30px;
  width:132px;
  height:36px;
  display:flex;
  text-decoration:underline ;
}
#u22966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22967 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:30px;
  width:132px;
  height:36px;
  display:flex;
}
#u22967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22968 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:30px;
  width:132px;
  height:36px;
  display:flex;
}
#u22968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u22969 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:30px;
  width:256px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u22969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u22970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:39px;
  height:36px;
  display:flex;
}
#u22970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u22971 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:66px;
  width:395px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u22971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u22972 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:66px;
  width:254px;
  height:36px;
  display:flex;
}
#u22972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22973 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:66px;
  width:132px;
  height:36px;
  display:flex;
}
#u22973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22974 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:66px;
  width:132px;
  height:36px;
  display:flex;
}
#u22974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22975 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:66px;
  width:132px;
  height:36px;
  display:flex;
}
#u22975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22976 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:66px;
  width:132px;
  height:36px;
  display:flex;
}
#u22976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u22977 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:66px;
  width:256px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u22977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u22978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:39px;
  height:36px;
  display:flex;
}
#u22978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u22979 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:102px;
  width:395px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u22979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u22980 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:102px;
  width:254px;
  height:36px;
  display:flex;
}
#u22980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22981 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:102px;
  width:132px;
  height:36px;
  display:flex;
}
#u22981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22982 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:102px;
  width:132px;
  height:36px;
  display:flex;
}
#u22982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22983 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:102px;
  width:132px;
  height:36px;
  display:flex;
}
#u22983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22984 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:102px;
  width:132px;
  height:36px;
  display:flex;
}
#u22984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u22985 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:102px;
  width:256px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u22985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u22986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:39px;
  height:36px;
  display:flex;
}
#u22986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u22987 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:138px;
  width:395px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u22987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u22988 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:138px;
  width:254px;
  height:36px;
  display:flex;
}
#u22988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22989 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:138px;
  width:132px;
  height:36px;
  display:flex;
}
#u22989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22990 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:138px;
  width:132px;
  height:36px;
  display:flex;
}
#u22990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22991 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:138px;
  width:132px;
  height:36px;
  display:flex;
}
#u22991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22992 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:138px;
  width:132px;
  height:36px;
  display:flex;
}
#u22992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u22993 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:138px;
  width:256px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u22993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u22994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:39px;
  height:36px;
  display:flex;
}
#u22994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u22995 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:174px;
  width:395px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u22995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u22996 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:174px;
  width:254px;
  height:36px;
  display:flex;
}
#u22996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22997 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:174px;
  width:132px;
  height:36px;
  display:flex;
}
#u22997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22998 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:174px;
  width:132px;
  height:36px;
  display:flex;
}
#u22998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u22999 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:174px;
  width:132px;
  height:36px;
  display:flex;
  text-decoration:underline ;
}
#u22999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23000 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:174px;
  width:132px;
  height:36px;
  display:flex;
}
#u23000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u23001 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:174px;
  width:256px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u23001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u23002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:39px;
  height:36px;
  display:flex;
}
#u23002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u23003 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:210px;
  width:395px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u23003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u23004 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:210px;
  width:254px;
  height:36px;
  display:flex;
}
#u23004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23005 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:210px;
  width:132px;
  height:36px;
  display:flex;
  text-decoration:underline ;
}
#u23005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23006 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:210px;
  width:132px;
  height:36px;
  display:flex;
}
#u23006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23007 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:210px;
  width:132px;
  height:36px;
  display:flex;
}
#u23007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23008 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:210px;
  width:132px;
  height:36px;
  display:flex;
}
#u23008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u23009 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:210px;
  width:256px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u23009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u23010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:39px;
  height:36px;
  display:flex;
}
#u23010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:36px;
}
#u23011 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:246px;
  width:395px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u23011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
}
#u23012 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:246px;
  width:254px;
  height:36px;
  display:flex;
}
#u23012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23013 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:246px;
  width:132px;
  height:36px;
  display:flex;
}
#u23013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23014 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:246px;
  width:132px;
  height:36px;
  display:flex;
}
#u23014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23015 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:246px;
  width:132px;
  height:36px;
  display:flex;
}
#u23015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u23016 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:246px;
  width:132px;
  height:36px;
  display:flex;
}
#u23016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u23017 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:246px;
  width:256px;
  height:36px;
  display:flex;
  color:#0033CC;
}
#u23017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23018 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:75px;
  height:30px;
  display:flex;
}
#u23018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u23018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23019 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:39px;
  width:75px;
  height:30px;
  display:flex;
}
#u23019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u23019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23020 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:39px;
  width:75px;
  height:30px;
  display:flex;
}
#u23020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u23020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23021 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:39px;
  width:75px;
  height:30px;
  display:flex;
}
#u23021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u23021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u23022 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:234px;
  width:1px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u23022 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u23023 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:165px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u23023 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23023_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033CC;
}
#u23024 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:165px;
  width:98px;
  height:16px;
  display:flex;
  color:#0033CC;
}
#u23024 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23024_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23025 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:47px;
  width:122px;
  height:30px;
  display:flex;
}
#u23025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23028 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:807px;
  width:8px;
  height:18px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23028 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23029 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:807px;
  width:8px;
  height:18px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23029 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23030 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:807px;
  width:8px;
  height:18px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23030 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23031 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:807px;
  width:8px;
  height:18px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23031 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u23032 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:807px;
  width:14px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u23032 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23032_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23033 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:803px;
  width:47px;
  height:26px;
  display:flex;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u23033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u23033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u23034 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:807px;
  width:28px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u23034 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23034_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u23035 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:805px;
  width:22px;
  height:22px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u23035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23036 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:811px;
  width:10px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u23036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23037 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:811px;
  width:10px;
  height:10px;
  display:flex;
  opacity:0.400000005960464;
}
#u23037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u23039 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:803px;
  width:86px;
  height:26px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u23039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u23039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23040 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:811px;
  width:10px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.400000005960464;
}
#u23040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23041 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:807px;
  width:67px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u23041 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23041_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
