body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u41361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u41361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u41361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41362 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u41362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u41362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41363 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:213px;
  width:1523px;
  height:210px;
}
#u41364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u41364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
  display:flex;
}
#u41364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:30px;
}
#u41365 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:435px;
  height:30px;
  display:flex;
}
#u41365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u41366 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u41366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u41367 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u41367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u41368 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u41368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u41369 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:0px;
  width:163px;
  height:30px;
  display:flex;
}
#u41369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u41370 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:0px;
  width:190px;
  height:30px;
  display:flex;
}
#u41370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u41371 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:0px;
  width:163px;
  height:30px;
  display:flex;
}
#u41371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u41372 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:0px;
  width:178px;
  height:30px;
  display:flex;
}
#u41372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u41373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:55px;
  height:45px;
  display:flex;
}
#u41373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u41374 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:30px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u41374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41375 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:30px;
  width:113px;
  height:45px;
  display:flex;
}
#u41375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41376 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:30px;
  width:113px;
  height:45px;
  display:flex;
}
#u41376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41377 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:30px;
  width:113px;
  height:45px;
  display:flex;
}
#u41377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41378 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:30px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u41379 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:30px;
  width:190px;
  height:45px;
  display:flex;
}
#u41379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41380 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:30px;
  width:163px;
  height:45px;
  display:flex;
}
#u41380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u41381 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:30px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u41382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:55px;
  height:45px;
  display:flex;
}
#u41382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u41383 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:75px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u41383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41384 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:75px;
  width:113px;
  height:45px;
  display:flex;
}
#u41384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41385 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:75px;
  width:113px;
  height:45px;
  display:flex;
}
#u41385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41386 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:75px;
  width:113px;
  height:45px;
  display:flex;
}
#u41386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41387 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:75px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u41388 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:75px;
  width:190px;
  height:45px;
  display:flex;
}
#u41388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41389 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:75px;
  width:163px;
  height:45px;
  display:flex;
}
#u41389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u41390 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:75px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u41391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:55px;
  height:45px;
  display:flex;
}
#u41391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u41392 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:120px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u41392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41393 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:120px;
  width:113px;
  height:45px;
  display:flex;
}
#u41393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41394 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:120px;
  width:113px;
  height:45px;
  display:flex;
}
#u41394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41395 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:120px;
  width:113px;
  height:45px;
  display:flex;
}
#u41395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41396 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:120px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u41397 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:120px;
  width:190px;
  height:45px;
  display:flex;
}
#u41397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41398 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:120px;
  width:163px;
  height:45px;
  display:flex;
}
#u41398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u41399 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:120px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u41400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:55px;
  height:45px;
  display:flex;
}
#u41400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u41401 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:165px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u41401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41402 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:165px;
  width:113px;
  height:45px;
  display:flex;
}
#u41402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41403 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:165px;
  width:113px;
  height:45px;
  display:flex;
}
#u41403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41404 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:165px;
  width:113px;
  height:45px;
  display:flex;
}
#u41404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41405 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:165px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u41406 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:165px;
  width:190px;
  height:45px;
  display:flex;
}
#u41406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41407 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:165px;
  width:163px;
  height:45px;
  display:flex;
}
#u41407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u41408 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:165px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1523px;
  height:82px;
}
#u41409 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1523px;
  height:82px;
  display:flex;
}
#u41409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41410 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:76px;
  width:704px;
  height:27px;
  display:flex;
}
#u41410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41410_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u41411 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:49px;
  width:192px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u41411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41412 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:152px;
  width:75px;
  height:30px;
  display:flex;
}
#u41412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41413 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:152px;
  width:75px;
  height:30px;
  display:flex;
}
#u41413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41414 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:152px;
  width:75px;
  height:30px;
  display:flex;
}
#u41414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41415 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u41415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41416 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u41416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41417 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u41417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41418 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:167px;
  width:24px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u41418 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41418_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41418.selected {
}
#u41418_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41419 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:167px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u41419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41419_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41419.selected {
}
#u41419_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41420 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:167px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u41420 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41420_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41420.selected {
}
#u41420_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41421 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:167px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u41421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41421_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41421.selected {
}
#u41421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41423 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:254px;
  width:142px;
  height:25px;
  display:flex;
}
#u41423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41424 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:254px;
  width:98px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41426 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:389px;
  width:142px;
  height:25px;
  display:flex;
}
#u41426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41427 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:389px;
  width:142px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41429 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:344px;
  width:142px;
  height:25px;
  display:flex;
}
#u41429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41430 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:344px;
  width:45px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41432 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:298px;
  width:142px;
  height:25px;
  display:flex;
}
#u41432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41433 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u41433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41435 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:23px;
  width:1514px;
  height:756px;
  display:flex;
}
#u41435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1512px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41436 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:25px;
  width:1512px;
  height:40px;
  display:flex;
}
#u41436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u41437 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:37px;
  width:116px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u41437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41437_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u41438 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:38px;
  width:15px;
  height:15px;
  display:flex;
}
#u41438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41439 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:712px;
  width:69px;
  height:30px;
  display:flex;
}
#u41439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41440 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:287px;
  width:50px;
  height:50px;
  display:flex;
}
#u41440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u41441 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:296px;
  width:1083px;
  height:32px;
  display:flex;
  font-size:28px;
}
#u41441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41441_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0033CC;
}
#u41442 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:422px;
  width:112px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#0033CC;
}
#u41442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41442_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
