body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u104762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u104762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u104762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104763 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u104763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u104763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u104764 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:38px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u104764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u104764_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u104765_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1529px;
  height:5px;
}
#u104765 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:68px;
  width:1526px;
  height:2px;
  display:flex;
}
#u104765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104766_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104766 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:91px;
  width:138px;
  height:30px;
  display:flex;
}
#u104766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104766_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104766.disabled {
}
#u104767_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104767_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104767 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:91px;
  width:214px;
  height:30px;
  display:flex;
}
#u104767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104767_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104767.disabled {
}
#u104768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104768_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104768 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:91px;
  width:129px;
  height:30px;
  display:flex;
}
#u104768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104768_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104768.disabled {
}
#u104769_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104769_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104769 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:91px;
  width:90px;
  height:30px;
  display:flex;
}
#u104769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104769_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104769.disabled {
}
#u104770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104770 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:91px;
  width:33px;
  height:30px;
  display:flex;
}
#u104770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104771_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104771_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104771 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:91px;
  width:90px;
  height:30px;
  display:flex;
}
#u104771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104771_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104771.disabled {
}
#u104772_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104772_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104772 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:91px;
  width:90px;
  height:30px;
  display:flex;
}
#u104772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104772_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104772.disabled {
}
#u104773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104773 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:91px;
  width:33px;
  height:30px;
  display:flex;
}
#u104773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104774_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104774_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104774 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:91px;
  width:90px;
  height:30px;
  display:flex;
}
#u104774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104774_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104774.disabled {
}
#u104775_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104775_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104775 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:91px;
  width:129px;
  height:30px;
  display:flex;
}
#u104775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104775_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104775.disabled {
}
#u104776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
  text-align:center;
}
#u104776 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:91px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#949494;
  text-align:center;
}
#u104776 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u104776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104777 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:91px;
  width:80px;
  height:30px;
  display:flex;
}
#u104777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104778 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:147px;
  width:1506px;
  height:150px;
}
#u104779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u104779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
  display:flex;
}
#u104779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104780 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u104780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u104781 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:330px;
  height:30px;
  display:flex;
}
#u104781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104782 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u104782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104783 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u104783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u104784 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:0px;
  width:165px;
  height:30px;
  display:flex;
}
#u104784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104785 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u104785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104786 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u104786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104787 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u104787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104788 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u104788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104789 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
}
#u104789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u104790 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:0px;
  width:98px;
  height:30px;
  display:flex;
}
#u104790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u104791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:33px;
  height:30px;
  display:flex;
}
#u104791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104792 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u104792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u104793 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:30px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u104793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104794 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u104794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104795 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u104795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u104796 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:30px;
  width:165px;
  height:30px;
  display:flex;
}
#u104796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104797 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u104797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104798 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u104798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104799 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u104799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104800 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u104800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104801 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
}
#u104801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u104802 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:30px;
  width:98px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u104802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u104803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:33px;
  height:30px;
  display:flex;
}
#u104803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104804 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u104804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u104805 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:60px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u104805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104806 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u104806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104807 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u104807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u104808 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:60px;
  width:165px;
  height:30px;
  display:flex;
}
#u104808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104809 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u104809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104810 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u104810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104811 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u104811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104812 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u104812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104813 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:60px;
  width:110px;
  height:30px;
  display:flex;
}
#u104813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u104814 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:60px;
  width:98px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u104814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u104815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:33px;
  height:30px;
  display:flex;
}
#u104815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104816 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u104816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u104817 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:90px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u104817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104818 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u104818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104819 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u104819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u104820 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:90px;
  width:165px;
  height:30px;
  display:flex;
}
#u104820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104821 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u104821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104822 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u104822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104823 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u104823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104824 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u104824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104825 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:90px;
  width:110px;
  height:30px;
  display:flex;
}
#u104825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u104826 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:90px;
  width:98px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u104826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u104827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:33px;
  height:30px;
  display:flex;
}
#u104827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104828 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u104828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u104829 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:120px;
  width:330px;
  height:30px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u104829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104830 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u104830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104831 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u104831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u104832 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:120px;
  width:165px;
  height:30px;
  display:flex;
}
#u104832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104833 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u104833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104834 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u104834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104835 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u104835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104836 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u104836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u104837 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:120px;
  width:110px;
  height:30px;
  display:flex;
}
#u104837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u104838 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:120px;
  width:98px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u104838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
