body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u107892_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1528px;
  height:5px;
}
#u107892 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:78px;
  width:1525px;
  height:2px;
  display:flex;
}
#u107892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0066CC;
}
#u107893 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:52px;
  width:126px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#0066CC;
}
#u107893 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107893_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107894_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107894 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:90px;
  width:280px;
  height:30px;
  display:flex;
}
#u107894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107894_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107894.disabled {
}
#u107895_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107895_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107895 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:90px;
  width:171px;
  height:30px;
  display:flex;
}
#u107895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107895_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107895.disabled {
}
#u107896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107896_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107896 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:90px;
  width:171px;
  height:30px;
  display:flex;
}
#u107896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107896_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107896.disabled {
}
#u107897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107897_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107897 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:90px;
  width:114px;
  height:30px;
  display:flex;
}
#u107897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107897_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107897.disabled {
}
#u107898_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107898_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107898 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:90px;
  width:114px;
  height:30px;
  display:flex;
}
#u107898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107898_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107898.disabled {
}
#u107899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u107899 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:90px;
  width:32px;
  height:30px;
  display:flex;
  text-align:center;
}
#u107899 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107900_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107900_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107900 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:90px;
  width:114px;
  height:30px;
  display:flex;
}
#u107900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107900_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107900.disabled {
}
#u107901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107901 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:90px;
  width:80px;
  height:30px;
  display:flex;
}
#u107901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107902 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:140px;
  width:1525px;
  height:96px;
}
#u107903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u107903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
  display:flex;
}
#u107903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u107904 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:0px;
  width:190px;
  height:36px;
  display:flex;
}
#u107904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:36px;
}
#u107905 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:0px;
  width:424px;
  height:36px;
  display:flex;
}
#u107905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u107906 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:0px;
  width:141px;
  height:36px;
  display:flex;
}
#u107906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u107907 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:0px;
  width:148px;
  height:36px;
  display:flex;
}
#u107907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:36px;
}
#u107908 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:0px;
  width:212px;
  height:36px;
  display:flex;
}
#u107908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u107909 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:0px;
  width:189px;
  height:36px;
  display:flex;
}
#u107909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u107910 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:0px;
  width:150px;
  height:36px;
  display:flex;
}
#u107910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u107911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:71px;
  height:30px;
  display:flex;
}
#u107911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u107912 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:36px;
  width:190px;
  height:30px;
  display:flex;
}
#u107912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u107913 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:36px;
  width:424px;
  height:30px;
  display:flex;
}
#u107913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u107914 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:36px;
  width:141px;
  height:30px;
  display:flex;
}
#u107914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u107915 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:36px;
  width:148px;
  height:30px;
  display:flex;
}
#u107915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
}
#u107916 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:36px;
  width:212px;
  height:30px;
  display:flex;
}
#u107916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u107917 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:36px;
  width:189px;
  height:30px;
  display:flex;
}
#u107917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u107918 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:36px;
  width:150px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u107918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u107919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:71px;
  height:30px;
  display:flex;
}
#u107919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u107920 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:66px;
  width:190px;
  height:30px;
  display:flex;
}
#u107920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u107921 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:66px;
  width:424px;
  height:30px;
  display:flex;
}
#u107921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u107922 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:66px;
  width:141px;
  height:30px;
  display:flex;
}
#u107922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u107923 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:66px;
  width:148px;
  height:30px;
  display:flex;
}
#u107923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
}
#u107924 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:66px;
  width:212px;
  height:30px;
  display:flex;
}
#u107924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u107925 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:66px;
  width:189px;
  height:30px;
  display:flex;
}
#u107925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u107926 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:66px;
  width:150px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u107926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107927_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1528px;
  height:5px;
}
#u107927 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:140px;
  width:1525px;
  height:2px;
  display:flex;
  color:#0099FF;
}
#u107927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u107928 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:214px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u107928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u107929 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:183px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u107929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u107930 {
  border-width:0px;
  position:absolute;
  left:1499px;
  top:183px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u107930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107931 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:90px;
  width:80px;
  height:30px;
  display:flex;
}
#u107931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
