body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u16758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u16758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16759 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u16759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u16759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16760 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:72px;
  width:112px;
  height:16px;
  display:flex;
}
#u16760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16761_input {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16761_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16761 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:69px;
  width:663px;
  height:22px;
  display:flex;
}
#u16761 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16761_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16761.disabled {
}
.u16761_input_option {
}
#u16762 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:140px;
  width:1192px;
  height:240px;
}
#u16763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u16763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16764 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u16764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16765 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u16765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16766 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:0px;
  width:298px;
  height:30px;
  display:flex;
}
#u16766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
}
#u16767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16768 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
}
#u16768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16769 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
}
#u16769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16770 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:30px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u16770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
}
#u16771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16772 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
}
#u16772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16773 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
}
#u16773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16774 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:60px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u16774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
}
#u16775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16776 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
}
#u16776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16777 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
}
#u16777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16778 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:90px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u16778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
}
#u16779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16780 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
}
#u16780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16781 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
}
#u16781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16782 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:120px;
  width:298px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u16782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u16783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16784 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u16784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16785 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u16785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16786 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:150px;
  width:298px;
  height:30px;
  display:flex;
}
#u16786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u16787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16788 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u16788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16789 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u16789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16790 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:180px;
  width:298px;
  height:30px;
  display:flex;
}
#u16790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
}
#u16791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16792 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
}
#u16792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16793 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
}
#u16793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u16794 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:210px;
  width:298px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u16794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16795_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1493px;
  height:5px;
}
#u16795 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:114px;
  width:1490px;
  height:2px;
  display:flex;
}
#u16795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16796 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:178px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16796 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16797 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:178px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16798 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:205px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16798 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16798_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16799 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:205px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16799 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16799_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16800 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:238px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16800 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16800_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16801 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:238px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16801 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16801_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16802 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:272px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16803 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:272px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16804 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:299px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16805 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:299px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16806 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:326px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16806 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16806_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16807 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:326px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u16807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u16808 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:358px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u16808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16808_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u16809 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:358px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u16809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16809_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16811 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:23px;
  width:863px;
  height:756px;
  display:flex;
}
#u16811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16812 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:25px;
  width:861px;
  height:40px;
  display:flex;
}
#u16812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u16812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u16813 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:37px;
  width:70px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u16813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u16814 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:38px;
  width:8px;
  height:15px;
  display:flex;
}
#u16814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16815 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:720px;
  width:39px;
  height:30px;
  display:flex;
}
#u16815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16816 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:720px;
  width:39px;
  height:30px;
  display:flex;
}
#u16816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16817 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:155px;
  width:806px;
  height:90px;
}
#u16818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u16818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
  display:flex;
}
#u16818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u16819 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:253px;
  height:30px;
  display:flex;
}
#u16819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u16820 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:253px;
  height:30px;
  display:flex;
}
#u16820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u16821 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:0px;
  width:253px;
  height:30px;
  display:flex;
}
#u16821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u16822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:47px;
  height:30px;
  display:flex;
}
#u16822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u16823 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:30px;
  width:253px;
  height:30px;
  display:flex;
}
#u16823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u16824 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:253px;
  height:30px;
  display:flex;
}
#u16824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u16825 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:30px;
  width:253px;
  height:30px;
  display:flex;
}
#u16825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u16826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:47px;
  height:30px;
  display:flex;
}
#u16826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u16827 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:60px;
  width:253px;
  height:30px;
  display:flex;
}
#u16827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u16828 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:60px;
  width:253px;
  height:30px;
  display:flex;
}
#u16828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u16829 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:60px;
  width:253px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u16829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16830 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:104px;
  width:126px;
  height:16px;
  display:flex;
}
#u16830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:2px;
}
#u16831 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:130px;
  width:820px;
  height:1px;
  display:flex;
}
#u16831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16832 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:97px;
  width:73px;
  height:30px;
  display:flex;
}
#u16832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16833 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:97px;
  width:73px;
  height:30px;
  display:flex;
}
#u16833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16834_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16834 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:218px;
  width:250px;
  height:25px;
  display:flex;
}
#u16834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16834_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16834.disabled {
}
