body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u76990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u76990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u76990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76991 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u76991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u76991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:73px;
}
#u76992 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:39px;
  width:1529px;
  height:73px;
  display:flex;
}
#u76992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76993 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:76px;
  width:658px;
  height:75px;
  display:flex;
}
#u76993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76993_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u76994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u76994 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:49px;
  width:192px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u76994 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76994_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u76995 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:184px;
  width:1528px;
  height:186px;
}
#u76996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u76996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
  display:flex;
}
#u76996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:36px;
}
#u76997 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:698px;
  height:36px;
  display:flex;
}
#u76997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:36px;
}
#u76998 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:0px;
  width:436px;
  height:36px;
  display:flex;
}
#u76998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:36px;
}
#u76999 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:0px;
  width:291px;
  height:36px;
  display:flex;
}
#u76999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u77000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:103px;
  height:30px;
  display:flex;
}
#u77000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:30px;
}
#u77001 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:36px;
  width:698px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u77001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:30px;
}
#u77002 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:36px;
  width:436px;
  height:30px;
  display:flex;
  color:#363636;
}
#u77002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u77003 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:36px;
  width:291px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u77003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u77004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:103px;
  height:30px;
  display:flex;
}
#u77004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:30px;
}
#u77005 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:66px;
  width:698px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u77005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:30px;
}
#u77006 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:66px;
  width:436px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u77006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u77007 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:66px;
  width:291px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u77007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u77008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:103px;
  height:30px;
  display:flex;
}
#u77008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:30px;
}
#u77009 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:96px;
  width:698px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u77009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:30px;
}
#u77010 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:96px;
  width:436px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u77010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u77011 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:96px;
  width:291px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u77011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u77012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:103px;
  height:30px;
  display:flex;
}
#u77012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:30px;
}
#u77013 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:126px;
  width:698px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u77013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:30px;
}
#u77014 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:126px;
  width:436px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u77014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u77015 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:126px;
  width:291px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u77015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u77016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:103px;
  height:30px;
  display:flex;
}
#u77016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:30px;
}
#u77017 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:156px;
  width:698px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u77017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:30px;
}
#u77018 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:156px;
  width:436px;
  height:30px;
  display:flex;
  color:#AEAEAE;
}
#u77018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u77019 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:156px;
  width:291px;
  height:30px;
  display:flex;
  color:#0033CC;
}
#u77019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77020 {
  border-width:0px;
  position:absolute;
  left:1492px;
  top:122px;
  width:70px;
  height:30px;
  display:flex;
}
#u77020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:2px;
}
#u77021 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:162px;
  width:1528px;
  height:1px;
  display:flex;
}
#u77021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
