body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u139661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u139661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u139661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u139662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139662 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u139662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u139662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u139663 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:109px;
  width:874px;
  height:120px;
}
#u139664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u139664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
  display:flex;
}
#u139664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
}
#u139665 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:0px;
  width:204px;
  height:30px;
  display:flex;
}
#u139665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u139666 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:128px;
  height:30px;
  display:flex;
}
#u139666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u139667 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:0px;
  width:108px;
  height:30px;
  display:flex;
}
#u139667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u139668 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:0px;
  width:138px;
  height:30px;
  display:flex;
}
#u139668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u139669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:296px;
  height:30px;
  display:flex;
  color:#1E1E1E;
  text-align:left;
}
#u139669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
}
#u139670 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:30px;
  width:204px;
  height:30px;
  display:flex;
  color:#000000;
}
#u139670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u139671 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:128px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u139671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u139672 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:30px;
  width:108px;
  height:30px;
  display:flex;
}
#u139672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u139673 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:30px;
  width:138px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u139673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u139674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:296px;
  height:30px;
  display:flex;
  color:#1E1E1E;
  text-align:left;
}
#u139674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
}
#u139675 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:60px;
  width:204px;
  height:30px;
  display:flex;
  color:#000000;
}
#u139675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u139676 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:128px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u139676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u139677 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:60px;
  width:108px;
  height:30px;
  display:flex;
}
#u139677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u139678 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:60px;
  width:138px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u139678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u139679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:296px;
  height:30px;
  display:flex;
  color:#1E1E1E;
  text-align:left;
}
#u139679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
}
#u139680 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:90px;
  width:204px;
  height:30px;
  display:flex;
  color:#000000;
}
#u139680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u139681 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:90px;
  width:128px;
  height:30px;
  display:flex;
  color:#1E1E1E;
}
#u139681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u139682 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:90px;
  width:108px;
  height:30px;
  display:flex;
}
#u139682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u139683 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:90px;
  width:138px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u139683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139684 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:65px;
  width:70px;
  height:16px;
  display:flex;
}
#u139684 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139684_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u139685_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u139685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139685 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:62px;
  width:558px;
  height:22px;
  display:flex;
}
#u139685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139685_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139685.disabled {
}
#u139686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u139686 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:62px;
  width:11px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#FF0000;
}
#u139686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139686_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139688 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:209px;
  width:300px;
  height:170px;
  display:flex;
}
#u139688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u139689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139689 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:243px;
  width:112px;
  height:32px;
  display:flex;
}
#u139689 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139689_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u139690 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:332px;
  width:107px;
  height:25px;
  display:flex;
  color:#000000;
}
#u139690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139691 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:209px;
  width:300px;
  height:170px;
  display:flex;
}
#u139691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u139692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139692 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:231px;
  width:193px;
  height:80px;
  display:flex;
}
#u139692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139692_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u139693 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:332px;
  width:107px;
  height:25px;
  display:flex;
  color:#000000;
}
#u139693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139694 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:54px;
  width:75px;
  height:30px;
  display:flex;
}
#u139694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139695 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:54px;
  width:75px;
  height:30px;
  display:flex;
}
#u139695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139698 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:276px;
  width:988px;
  height:179px;
  display:flex;
}
#u139698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u139699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139699 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:312px;
  width:56px;
  height:16px;
  display:flex;
}
#u139699 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139699_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u139700_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u139700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139700 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:308px;
  width:300px;
  height:25px;
  display:flex;
}
#u139700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139700_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139700.disabled {
}
#u139701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139701 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:308px;
  width:140px;
  height:25px;
  display:flex;
}
#u139701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139702 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:398px;
  width:130px;
  height:29px;
  display:flex;
}
#u139702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139703 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:312px;
  width:112px;
  height:16px;
  display:flex;
}
#u139703 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139703_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139704 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:398px;
  width:130px;
  height:29px;
  display:flex;
}
#u139704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  text-decoration:underline ;
  color:#0000FF;
}
#u139705 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:343px;
  width:84px;
  height:16px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  text-decoration:underline ;
  color:#0000FF;
}
#u139705 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139705_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
}
#u139706 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:488px;
  width:300px;
  height:46px;
  display:flex;
  font-size:20px;
  color:#0000FF;
}
#u139706 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
