body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u67134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u67134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u67134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67135 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u67135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u67135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67136 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:243px;
  width:1528px;
  height:258px;
}
#u67137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u67137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  display:flex;
}
#u67137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:36px;
}
#u67138 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:532px;
  height:36px;
  display:flex;
}
#u67138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u67139 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:0px;
  width:330px;
  height:36px;
  display:flex;
}
#u67139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u67140 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:0px;
  width:142px;
  height:36px;
  display:flex;
}
#u67140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u67141 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:0px;
  width:142px;
  height:36px;
  display:flex;
}
#u67141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u67142 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:0px;
  width:142px;
  height:36px;
  display:flex;
}
#u67142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u67143 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:0px;
  width:150px;
  height:36px;
  display:flex;
}
#u67143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u67144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:90px;
  height:36px;
  display:flex;
}
#u67144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:36px;
}
#u67145 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:36px;
  width:532px;
  height:36px;
  display:flex;
  color:#0000FF;
}
#u67145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u67146 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:36px;
  width:330px;
  height:36px;
  display:flex;
}
#u67146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u67147 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:36px;
  width:142px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u67147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u67148 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:36px;
  width:142px;
  height:36px;
  display:flex;
}
#u67148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u67149 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:36px;
  width:142px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u67149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u67150 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:36px;
  width:150px;
  height:36px;
  display:flex;
  color:#0000FF;
}
#u67150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u67151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:90px;
  height:30px;
  display:flex;
}
#u67151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:30px;
}
#u67152 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:72px;
  width:532px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u67152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u67153 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:72px;
  width:330px;
  height:30px;
  display:flex;
}
#u67153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67154 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:72px;
  width:142px;
  height:30px;
  display:flex;
}
#u67154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67155 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:72px;
  width:142px;
  height:30px;
  display:flex;
}
#u67155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67156 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:72px;
  width:142px;
  height:30px;
  display:flex;
  font-size:14px;
}
#u67156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u67157 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:72px;
  width:150px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u67157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u67158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:90px;
  height:36px;
  display:flex;
}
#u67158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:36px;
}
#u67159 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:102px;
  width:532px;
  height:36px;
  display:flex;
}
#u67159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u67160 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:102px;
  width:330px;
  height:36px;
  display:flex;
}
#u67160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u67161 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:102px;
  width:142px;
  height:36px;
  display:flex;
}
#u67161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u67162 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:102px;
  width:142px;
  height:36px;
  display:flex;
}
#u67162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u67163 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:102px;
  width:142px;
  height:36px;
  display:flex;
  font-size:14px;
}
#u67163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u67164 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:102px;
  width:150px;
  height:36px;
  display:flex;
  color:#0000FF;
}
#u67164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u67165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:90px;
  height:30px;
  display:flex;
}
#u67165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:30px;
}
#u67166 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:138px;
  width:532px;
  height:30px;
  display:flex;
}
#u67166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u67167 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:138px;
  width:330px;
  height:30px;
  display:flex;
}
#u67167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67168 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:138px;
  width:142px;
  height:30px;
  display:flex;
}
#u67168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67169 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:138px;
  width:142px;
  height:30px;
  display:flex;
}
#u67169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67170 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:138px;
  width:142px;
  height:30px;
  display:flex;
}
#u67170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u67171 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:138px;
  width:150px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u67171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u67172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:90px;
  height:30px;
  display:flex;
}
#u67172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:30px;
}
#u67173 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:168px;
  width:532px;
  height:30px;
  display:flex;
}
#u67173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u67174 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:168px;
  width:330px;
  height:30px;
  display:flex;
}
#u67174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67175 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:168px;
  width:142px;
  height:30px;
  display:flex;
}
#u67175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67176 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:168px;
  width:142px;
  height:30px;
  display:flex;
}
#u67176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67177 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:168px;
  width:142px;
  height:30px;
  display:flex;
}
#u67177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u67178 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:168px;
  width:150px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u67178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u67179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:198px;
  width:90px;
  height:30px;
  display:flex;
}
#u67179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:30px;
}
#u67180 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:198px;
  width:532px;
  height:30px;
  display:flex;
}
#u67180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u67181 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:198px;
  width:330px;
  height:30px;
  display:flex;
}
#u67181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67182 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:198px;
  width:142px;
  height:30px;
  display:flex;
}
#u67182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67183 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:198px;
  width:142px;
  height:30px;
  display:flex;
}
#u67183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67184 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:198px;
  width:142px;
  height:30px;
  display:flex;
}
#u67184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u67185 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:198px;
  width:150px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u67185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u67186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:90px;
  height:30px;
  display:flex;
}
#u67186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:30px;
}
#u67187 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:228px;
  width:532px;
  height:30px;
  display:flex;
}
#u67187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u67188 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:228px;
  width:330px;
  height:30px;
  display:flex;
}
#u67188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67189 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:228px;
  width:142px;
  height:30px;
  display:flex;
}
#u67189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67190 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:228px;
  width:142px;
  height:30px;
  display:flex;
}
#u67190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u67191 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:228px;
  width:142px;
  height:30px;
  display:flex;
}
#u67191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u67192 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:228px;
  width:150px;
  height:30px;
  display:flex;
}
#u67192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67193 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:121px;
  width:70px;
  height:30px;
  display:flex;
}
#u67193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:75px;
}
#u67194 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:39px;
  width:1529px;
  height:75px;
  display:flex;
}
#u67194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1274px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67195 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:76px;
  width:1274px;
  height:75px;
  display:flex;
}
#u67195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67195_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u67196 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:49px;
  width:192px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u67196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:2px;
}
#u67197 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:161px;
  width:1528px;
  height:1px;
  display:flex;
}
#u67197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67198_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67198 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:185px;
  width:273px;
  height:30px;
  display:flex;
}
#u67198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67198_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67198.disabled {
}
#u67199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67199_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67199 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:185px;
  width:204px;
  height:30px;
  display:flex;
}
#u67199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67199_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67199.disabled {
}
#u67200_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67200_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67200 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:185px;
  width:108px;
  height:30px;
  display:flex;
}
#u67200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67200_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67200.disabled {
}
#u67201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67201_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67201 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:185px;
  width:154px;
  height:30px;
  display:flex;
}
#u67201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67201_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67201.disabled {
}
#u67202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#A1A1A1;
  text-align:center;
}
#u67202 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:185px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#A1A1A1;
  text-align:center;
}
#u67202 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67203 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:185px;
  width:80px;
  height:30px;
  display:flex;
}
#u67203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0066CC;
}
#u67204 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:129px;
  width:108px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0066CC;
}
#u67204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67205_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67205 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:185px;
  width:122px;
  height:30px;
  display:flex;
}
#u67205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67205_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67205.disabled {
}
#u67206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#A1A1A1;
  text-align:center;
}
#u67206 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:185px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#A1A1A1;
  text-align:center;
}
#u67206 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67207_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67207 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:185px;
  width:108px;
  height:30px;
  display:flex;
}
#u67207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67207_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67207.disabled {
}
#u67208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u67208 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:185px;
  width:35px;
  height:30px;
  display:flex;
  text-align:center;
}
#u67208 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u67209 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:199px;
  width:84px;
  height:16px;
  display:flex;
  color:#0066CC;
}
#u67209 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67209_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066CC;
  text-align:center;
}
#u67210 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:193px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066CC;
  text-align:center;
}
#u67210 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67211_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u67211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67211 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:185px;
  width:122px;
  height:30px;
  display:flex;
}
#u67211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67211_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67211.disabled {
}
#u67212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#A1A1A1;
  text-align:center;
}
#u67212 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:185px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#A1A1A1;
  text-align:center;
}
#u67212 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67213 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:288px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67213 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67213_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67214 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:288px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67214 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67215 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:324px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67215 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67215_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67216 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:324px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67216 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67217 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:358px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67217_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67218 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:358px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67218 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67218_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67219 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:389px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67220 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:389px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67220 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67220_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67221 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:419px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67222 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:419px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67222 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67222_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67223 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:449px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67224 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:449px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67224 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67224_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67225 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:480px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u67226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u67226 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:480px;
  width:28px;
  height:16px;
  display:flex;
  color:#0000FF;
}
#u67226 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67226_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
