body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u107580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u107580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u107580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107581 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u107581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u107581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107582 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:115px;
  width:70px;
  height:16px;
  display:flex;
}
#u107582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107582_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107583 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:108px;
  width:205px;
  height:30px;
  display:flex;
}
#u107583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107584 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:115px;
  width:70px;
  height:16px;
  display:flex;
}
#u107584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107584_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107585 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:108px;
  width:84px;
  height:30px;
  display:flex;
}
#u107585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107586 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:115px;
  width:70px;
  height:16px;
  display:flex;
}
#u107586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107586_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107587 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:108px;
  width:153px;
  height:30px;
  display:flex;
}
#u107587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107588 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:108px;
  width:84px;
  height:30px;
  display:flex;
}
#u107588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107589 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:115px;
  width:14px;
  height:16px;
  display:flex;
}
#u107589 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107589_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u107590 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:116px;
  width:15px;
  height:15px;
  display:flex;
}
#u107590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107591 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:109px;
  width:53px;
  height:30px;
  display:flex;
}
#u107591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107592 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:52px;
  width:67px;
  height:30px;
  display:flex;
}
#u107592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1497px;
  height:2px;
}
#u107593 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:86px;
  width:1496px;
  height:1px;
  display:flex;
}
#u107593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u107594 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:57px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u107594 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107594_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107595 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:167px;
  width:1490px;
  height:200px;
}
#u107596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
}
#u107596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u107597 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:0px;
  width:174px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u107598 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:102px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u107599 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:0px;
  width:88px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u107600 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:0px;
  width:108px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u107601 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:0px;
  width:142px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u107602 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:0px;
  width:169px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u107603 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:0px;
  width:141px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:40px;
}
#u107604 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:0px;
  width:344px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
}
#u107605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:222px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u107606 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:40px;
  width:174px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u107607 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:40px;
  width:102px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u107608 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:40px;
  width:88px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u107609 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:40px;
  width:108px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u107610 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:40px;
  width:142px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u107611 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:40px;
  width:169px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u107612 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:40px;
  width:141px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:40px;
}
#u107613 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:40px;
  width:344px;
  height:40px;
  display:flex;
  color:#0033FF;
  text-align:left;
}
#u107613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
}
#u107614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:222px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u107615 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:80px;
  width:174px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u107616 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:80px;
  width:102px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u107617 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:80px;
  width:88px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u107618 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:80px;
  width:108px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u107619 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:80px;
  width:142px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u107620 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:80px;
  width:169px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u107621 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:80px;
  width:141px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:40px;
}
#u107622 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:80px;
  width:344px;
  height:40px;
  display:flex;
  color:#0033FF;
  text-align:left;
}
#u107622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
}
#u107623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:222px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u107624 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:120px;
  width:174px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u107625 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:120px;
  width:102px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u107626 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:120px;
  width:88px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u107627 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:120px;
  width:108px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u107628 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:120px;
  width:142px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u107629 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:120px;
  width:169px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u107630 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:120px;
  width:141px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:40px;
}
#u107631 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:120px;
  width:344px;
  height:40px;
  display:flex;
  color:#0033FF;
  text-align:left;
}
#u107631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
}
#u107632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:222px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u107633 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:160px;
  width:174px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u107634 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:160px;
  width:102px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u107635 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:160px;
  width:88px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u107636 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:160px;
  width:108px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u107637 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:160px;
  width:142px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u107638 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:160px;
  width:169px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u107639 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:160px;
  width:141px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:40px;
}
#u107640 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:160px;
  width:344px;
  height:40px;
  display:flex;
  color:#0033FF;
  text-align:left;
}
#u107640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107641 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:177px;
  width:21px;
  height:20px;
  display:flex;
}
#u107641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107642 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:177px;
  width:21px;
  height:20px;
  display:flex;
}
#u107642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107643 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:177px;
  width:21px;
  height:20px;
  display:flex;
}
#u107643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107644 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:177px;
  width:21px;
  height:20px;
  display:flex;
}
#u107644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107645 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:178px;
  width:21px;
  height:20px;
  display:flex;
}
#u107645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107646 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:178px;
  width:21px;
  height:20px;
  display:flex;
}
#u107646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107648 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:219px;
  width:124px;
  height:20px;
  display:flex;
}
#u107648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107649 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:257px;
  width:124px;
  height:20px;
  display:flex;
}
#u107649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107650 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:298px;
  width:124px;
  height:20px;
  display:flex;
}
#u107650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107651 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:341px;
  width:124px;
  height:20px;
  display:flex;
}
#u107651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107652 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:219px;
  width:75px;
  height:20px;
  display:flex;
}
#u107652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107653 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:221px;
  width:29px;
  height:16px;
  display:flex;
}
#u107653 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107653_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107654 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:257px;
  width:34px;
  height:20px;
  display:flex;
}
#u107654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107655 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:298px;
  width:124px;
  height:20px;
  display:flex;
}
#u107655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107656 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:341px;
  width:105px;
  height:20px;
  display:flex;
}
#u107656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107657 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:300px;
  width:36px;
  height:16px;
  display:flex;
}
#u107657 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107657_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107658 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:344px;
  width:29px;
  height:16px;
  display:flex;
}
#u107658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107659 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:258px;
  width:29px;
  height:16px;
  display:flex;
}
#u107659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107659_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107661 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:218px;
  width:124px;
  height:20px;
  display:flex;
}
#u107661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107662 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:256px;
  width:124px;
  height:20px;
  display:flex;
}
#u107662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107663 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:297px;
  width:124px;
  height:20px;
  display:flex;
}
#u107663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107664 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:340px;
  width:124px;
  height:20px;
  display:flex;
}
#u107664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107665 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:219px;
  width:75px;
  height:20px;
  display:flex;
}
#u107665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107666 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:221px;
  width:29px;
  height:16px;
  display:flex;
}
#u107666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107667 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:298px;
  width:97px;
  height:20px;
  display:flex;
}
#u107667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107668 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:298px;
  width:29px;
  height:16px;
  display:flex;
}
#u107668 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107668_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107669 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:344px;
  width:37px;
  height:20px;
  display:flex;
}
#u107669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107670 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:344px;
  width:29px;
  height:16px;
  display:flex;
}
#u107670 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107670_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107671 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:258px;
  width:21px;
  height:16px;
  display:flex;
}
#u107671 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107671_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107672 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:219px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107672 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107672_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107673 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:219px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107673_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107674 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:219px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107674_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107675 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:260px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107675_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107676 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:260px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107676_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107677 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:260px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107677 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107677_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107678 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:300px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107679 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:300px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107679_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107680 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:300px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107680_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107681 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:340px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107681_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107682 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:340px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107682 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107682_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107683 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:340px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
