body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u107788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u107788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u107788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107789 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u107789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u107789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107790 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:115px;
  width:70px;
  height:16px;
  display:flex;
}
#u107790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107791 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:108px;
  width:205px;
  height:30px;
  display:flex;
}
#u107791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107792 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:115px;
  width:70px;
  height:16px;
  display:flex;
}
#u107792 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107792_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107793 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:108px;
  width:84px;
  height:30px;
  display:flex;
}
#u107793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107794 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:115px;
  width:70px;
  height:16px;
  display:flex;
}
#u107794 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107795 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:108px;
  width:153px;
  height:30px;
  display:flex;
}
#u107795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107796 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:108px;
  width:84px;
  height:30px;
  display:flex;
}
#u107796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107797 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:115px;
  width:14px;
  height:16px;
  display:flex;
}
#u107797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u107798 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:116px;
  width:15px;
  height:15px;
  display:flex;
}
#u107798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107799 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:109px;
  width:53px;
  height:30px;
  display:flex;
}
#u107799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107800 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:52px;
  width:67px;
  height:30px;
  display:flex;
}
#u107800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1497px;
  height:2px;
}
#u107801 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:86px;
  width:1496px;
  height:1px;
  display:flex;
}
#u107801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u107802 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:57px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u107802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107803 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:160px;
  width:1523px;
  height:200px;
}
#u107804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u107804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u107805 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:178px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u107806 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:0px;
  width:104px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u107807 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u107808 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u107809 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:0px;
  width:145px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u107810 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:0px;
  width:173px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u107811 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:0px;
  width:144px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
}
#u107812 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:0px;
  width:352px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u107813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:227px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u107814 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:40px;
  width:178px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u107815 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:40px;
  width:104px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u107816 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:40px;
  width:90px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u107817 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:40px;
  width:110px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u107818 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:40px;
  width:145px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u107819 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:40px;
  width:173px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u107820 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:40px;
  width:144px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
}
#u107821 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:40px;
  width:352px;
  height:40px;
  display:flex;
  color:#0033FF;
  text-align:left;
}
#u107821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u107822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:227px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u107823 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:80px;
  width:178px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u107824 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:80px;
  width:104px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u107825 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:80px;
  width:90px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u107826 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:80px;
  width:110px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u107827 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:80px;
  width:145px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u107828 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:80px;
  width:173px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u107829 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:80px;
  width:144px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
}
#u107830 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:80px;
  width:352px;
  height:40px;
  display:flex;
  color:#0033FF;
  text-align:left;
}
#u107830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u107831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:227px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u107832 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:120px;
  width:178px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u107833 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:120px;
  width:104px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u107834 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:120px;
  width:90px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u107835 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:120px;
  width:110px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u107836 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:120px;
  width:145px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u107837 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:120px;
  width:173px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u107838 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:120px;
  width:144px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
}
#u107839 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:120px;
  width:352px;
  height:40px;
  display:flex;
  color:#0033FF;
  text-align:left;
}
#u107839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u107840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:227px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u107841 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:160px;
  width:178px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u107842 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:160px;
  width:104px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u107843 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:160px;
  width:90px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u107844 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:160px;
  width:110px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u107845 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:160px;
  width:145px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u107846 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:160px;
  width:173px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u107847 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:160px;
  width:144px;
  height:40px;
  display:flex;
  text-align:left;
}
#u107847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
}
#u107848 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:160px;
  width:352px;
  height:40px;
  display:flex;
  color:#0033FF;
  text-align:left;
}
#u107848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107849 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:170px;
  width:21px;
  height:20px;
  display:flex;
}
#u107849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107850 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:170px;
  width:21px;
  height:20px;
  display:flex;
}
#u107850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107851 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:170px;
  width:21px;
  height:20px;
  display:flex;
}
#u107851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107852 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:170px;
  width:21px;
  height:20px;
  display:flex;
}
#u107852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107853 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:171px;
  width:21px;
  height:20px;
  display:flex;
}
#u107853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u107854 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:171px;
  width:21px;
  height:20px;
  display:flex;
}
#u107854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107856 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:212px;
  width:126px;
  height:20px;
  display:flex;
}
#u107856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107857 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:250px;
  width:126px;
  height:20px;
  display:flex;
}
#u107857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107858 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:291px;
  width:126px;
  height:20px;
  display:flex;
}
#u107858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107859 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:334px;
  width:126px;
  height:20px;
  display:flex;
}
#u107859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107860 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:212px;
  width:76px;
  height:20px;
  display:flex;
}
#u107860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107861 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:214px;
  width:29px;
  height:16px;
  display:flex;
}
#u107861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107861_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107862 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:250px;
  width:35px;
  height:20px;
  display:flex;
}
#u107862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107863 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:291px;
  width:126px;
  height:20px;
  display:flex;
}
#u107863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107864 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:334px;
  width:107px;
  height:20px;
  display:flex;
}
#u107864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107865 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:293px;
  width:36px;
  height:16px;
  display:flex;
}
#u107865 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107865_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107866 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:337px;
  width:29px;
  height:16px;
  display:flex;
}
#u107866 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107866_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107867 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:251px;
  width:29px;
  height:16px;
  display:flex;
}
#u107867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107867_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107869 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:211px;
  width:126px;
  height:20px;
  display:flex;
}
#u107869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107870 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:249px;
  width:126px;
  height:20px;
  display:flex;
}
#u107870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107871 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:290px;
  width:126px;
  height:20px;
  display:flex;
}
#u107871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107872 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:333px;
  width:126px;
  height:20px;
  display:flex;
}
#u107872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107873 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:212px;
  width:76px;
  height:20px;
  display:flex;
}
#u107873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107874 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:214px;
  width:29px;
  height:16px;
  display:flex;
}
#u107874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107874_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107875 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:291px;
  width:99px;
  height:20px;
  display:flex;
}
#u107875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107876 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:291px;
  width:29px;
  height:16px;
  display:flex;
}
#u107876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107876_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(89, 192, 217, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107877 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:337px;
  width:38px;
  height:20px;
  display:flex;
}
#u107877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107878 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:337px;
  width:29px;
  height:16px;
  display:flex;
}
#u107878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107879 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:251px;
  width:21px;
  height:16px;
  display:flex;
}
#u107879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107880 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:214px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107881 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:214px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107882 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:255px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107882 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107882_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107883 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:255px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107884 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:295px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107885 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:295px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107885_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107886 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:335px;
  width:84px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107887 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:335px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107888 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:214px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107888 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107888_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107889 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:254px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107889_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107890 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:295px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u107891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u107891 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:335px;
  width:56px;
  height:16px;
  display:flex;
  color:#0033FF;
}
#u107891 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107891_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
