body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u41738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u41738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u41738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1779px;
  height:808px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41739 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1779px;
  height:808px;
  display:flex;
}
#u41739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u41739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41740 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:213px;
  width:1523px;
  height:210px;
}
#u41741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u41741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
  display:flex;
}
#u41741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:30px;
}
#u41742 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:435px;
  height:30px;
  display:flex;
}
#u41742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u41743 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u41743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u41744 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u41744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u41745 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u41745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u41746 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:0px;
  width:163px;
  height:30px;
  display:flex;
}
#u41746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u41747 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:0px;
  width:190px;
  height:30px;
  display:flex;
}
#u41747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u41748 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:0px;
  width:163px;
  height:30px;
  display:flex;
}
#u41748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u41749 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:0px;
  width:178px;
  height:30px;
  display:flex;
}
#u41749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u41750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:55px;
  height:45px;
  display:flex;
}
#u41750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u41751 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:30px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u41751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41752 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:30px;
  width:113px;
  height:45px;
  display:flex;
}
#u41752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41753 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:30px;
  width:113px;
  height:45px;
  display:flex;
}
#u41753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41754 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:30px;
  width:113px;
  height:45px;
  display:flex;
}
#u41754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41755 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:30px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u41756 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:30px;
  width:190px;
  height:45px;
  display:flex;
}
#u41756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41757 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:30px;
  width:163px;
  height:45px;
  display:flex;
}
#u41757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u41758 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:30px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u41759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:55px;
  height:45px;
  display:flex;
}
#u41759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u41760 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:75px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u41760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41761 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:75px;
  width:113px;
  height:45px;
  display:flex;
}
#u41761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41762 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:75px;
  width:113px;
  height:45px;
  display:flex;
}
#u41762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41763 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:75px;
  width:113px;
  height:45px;
  display:flex;
}
#u41763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41764 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:75px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u41765 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:75px;
  width:190px;
  height:45px;
  display:flex;
}
#u41765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41766 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:75px;
  width:163px;
  height:45px;
  display:flex;
}
#u41766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u41767 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:75px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u41768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:55px;
  height:45px;
  display:flex;
}
#u41768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u41769 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:120px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u41769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41770 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:120px;
  width:113px;
  height:45px;
  display:flex;
}
#u41770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41771 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:120px;
  width:113px;
  height:45px;
  display:flex;
}
#u41771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41772 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:120px;
  width:113px;
  height:45px;
  display:flex;
}
#u41772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41773 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:120px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u41774 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:120px;
  width:190px;
  height:45px;
  display:flex;
}
#u41774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41775 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:120px;
  width:163px;
  height:45px;
  display:flex;
}
#u41775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u41776 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:120px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:45px;
}
#u41777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:55px;
  height:45px;
  display:flex;
}
#u41777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:45px;
}
#u41778 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:165px;
  width:435px;
  height:45px;
  display:flex;
  color:#0033CC;
  text-align:left;
}
#u41778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41779 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:165px;
  width:113px;
  height:45px;
  display:flex;
}
#u41779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41780 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:165px;
  width:113px;
  height:45px;
  display:flex;
}
#u41780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u41781 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:165px;
  width:113px;
  height:45px;
  display:flex;
}
#u41781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41782 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:165px;
  width:163px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u41783 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:165px;
  width:190px;
  height:45px;
  display:flex;
}
#u41783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
}
#u41784 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:165px;
  width:163px;
  height:45px;
  display:flex;
}
#u41784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u41785 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:165px;
  width:178px;
  height:45px;
  display:flex;
  color:#0033CC;
}
#u41785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1523px;
  height:82px;
}
#u41786 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:1523px;
  height:82px;
  display:flex;
}
#u41786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41787 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:76px;
  width:704px;
  height:27px;
  display:flex;
}
#u41787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41787_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u41788 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:49px;
  width:192px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u41788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41789 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:152px;
  width:75px;
  height:30px;
  display:flex;
}
#u41789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41790 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:152px;
  width:75px;
  height:30px;
  display:flex;
}
#u41790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41791 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:152px;
  width:75px;
  height:30px;
  display:flex;
}
#u41791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41792 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u41792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41793 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u41793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41794 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u41794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41795 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:167px;
  width:24px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u41795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41795_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41795.selected {
}
#u41795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41796 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:167px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u41796 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41796_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41796.selected {
}
#u41796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41797 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:167px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u41797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41797_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41797.selected {
}
#u41797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41798 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:167px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u41798 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41798_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41798.selected {
}
#u41798_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41800 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:254px;
  width:142px;
  height:25px;
  display:flex;
}
#u41800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41801 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:254px;
  width:98px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41803 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:389px;
  width:142px;
  height:25px;
  display:flex;
}
#u41803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41804 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:389px;
  width:142px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41806 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:344px;
  width:142px;
  height:25px;
  display:flex;
}
#u41806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41807 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:344px;
  width:45px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41809 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:298px;
  width:142px;
  height:25px;
  display:flex;
}
#u41809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41810 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:152px;
  width:70px;
  height:30px;
  display:flex;
}
#u41810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.23921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:808px;
  display:flex;
}
#u41812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u41812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41815 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:157px;
  width:476px;
  height:267px;
  display:flex;
}
#u41815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41816 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:271px;
  width:347px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u41816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:2px;
}
#u41817 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:353px;
  width:218px;
  height:1px;
  display:flex;
}
#u41817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:58px;
}
#u41818 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:367px;
  width:1px;
  height:57px;
  display:flex;
}
#u41818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u41819 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:353px;
  width:231px;
  height:1px;
  display:flex;
}
#u41819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41820 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:378px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u41820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u41821 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:378px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u41821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41822 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:194px;
  width:50px;
  height:50px;
  display:flex;
}
#u41822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
